<footer class="site-footer">
  <div class="container site-footer-inner">
    <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    <div class="footer-links">
      <a href="mailto:{{ site.email }}">Email</a>
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">GitHub</a>{% endif %}
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      <a href="https://www.youtube.com/watch?v=qfBq8hizrPo&list=RDqfBq8hizrPo&start_radio=1">hahaha</a>
    </div>
  </div>
</footer>
