<header>
  {% assign nav_pages = site.pages | sort: "path" %}
  <nav class="navbar navbar-inverse site-nav-shell">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-brand" href="{{ site.baseurl }}/">
          <img class="site-avatar" src="{{ "/static/img/crong-avatar.png" | prepend: site.baseurl }}" alt="Crong avatar">
          <span>{{ site.title }}</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="site-nav-links">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.url == "/" or page.url == "/index.html" %} class="active"{% endif %}>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
          {% for p in nav_pages %}
            {% if p.title and p.url != "/" and p.url != "/index.html" %}
              <li{% if p.url == page.url %} class="active"{% endif %}>
                <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
